@{
    var prevDisabled = !Model.PaginatedFavoriteActorList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PaginatedFavoriteActorList.HasNextPage ? "disabled" : "";

    var firstDisabled = Model.PaginatedFavoriteActorList.PageIndex == 1 ? "disabled" : "";
    var lastDisabled = Model.PaginatedFavoriteActorList.PageIndex == Model.PaginatedFavoriteActorList.TotalPages ? "disabled" : "";

    <a class="btn btn-primary @firstDisabled" asp-action="GetFavoriteActors" asp-route-pageNumber="1">First</a>

    <a class="btn btn-primary @prevDisabled" asp-action="GetFavoriteActors" asp-route-pageNumber="@(Model.PaginatedFavoriteActorList.PageIndex - 1)">Previous</a>

    for (int i = 1; i <= Model.PaginatedFavoriteActorList.TotalPages; i++)
    {
        <a class="btn btn-outline-primary page-item @(Model.PaginatedFavoriteActorList.PageIndex == i ? "active" : "")" asp-action="GetFavoriteActors" asp-route-pageNumber="@i">@i</a>
    }

    <a class="btn btn-primary @nextDisabled" asp-action="GetFavoriteActors" asp-route-pageNumber="@(Model.PaginatedFavoriteActorList.PageIndex + 1)">Next</a>

    <a class="btn btn-primary @lastDisabled" asp-action="GetFavoriteActors" asp-route-pageNumber="@(Model.PaginatedFavoriteActorList.TotalPages)">Last</a>
}