@model Media;

<script type="text/javascript">

    window.onload = function() {

        elements = document.getElementsByName("tvScore");

        for (var i = elements.length; i--;) {

            let elementIdInnerText = elements[i].innerText;
            let patternMatches = elementIdInnerText.match(/\d\d%\s/i);

            if (patternMatches != null) {

                const myArray = elementIdInnerText.split("% ");

                let score = myArray[0];

                if (score >= 70) {
                    elements[i].style.color = 'green';
                    elements[i].style.fontWeight = 'bold';
                }
                else if (score >= 50 && score < 70) {
                    elements[i].style.color = 'orange';
                    elements[i].style.fontWeight = 'bold';
                }
                else if (score < 50) {
                    elements[i].style.color = 'red';
                    elements[i].style.fontWeight = 'bold';
                }
            }
        }

    }

</script>

<h4>My Watched Media - TV:</h4>

<form method="post" asp-action="GetWatchedMediaTv">

    <input asp-for="Keyword" class="form-control inline-block-child" placeholder="Search for a TV title within watched media" style="width:400px" />

    <button type="submit" class="btn btn-primary inline-block-child">Filter Results&nbsp;<i class="bi bi-filter"></i></button>

</form>

<p></p>

<partial name="_WatchedMediaTvPaginatePartial" model="Model" />

<p></p>

<table class="siteTheme" style="width:100%">
    <thead>
        <tr>
            <th class="siteTheme">
                Poster:
            </th>
            <th class="siteTheme">
                Title:
            </th>
            <th class="siteTheme">
                Year:
            </th>
            <th class="siteTheme">
                Score:
            </th>
            <th class="siteTheme">
                Genre(s):
            </th>
            <th class="siteTheme">
                Qty:
            </th>
            <th class="siteTheme">
                First Watched:
            </th>
            <th class="siteTheme">
                Last Watched:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.WatchedMediaResults.WatchedTV)
        {
            <tr>
                <td class="siteTheme" style="width:77px;">
                    @{
                        string url = "https://image.tmdb.org/t/p/original" + obj.ResultReturn.TvIdResult.poster_path;

                        <a href="@Url.Action("GetUserTVSelectionById", "Movie", new { id = obj.ResultReturn.TvIdResult.id })">

                            @if (string.IsNullOrEmpty(obj.ResultReturn.TvIdResult.poster_path))
                            {
                                <img id="Cinema.jpg" class="myWatchedMediaImgSize" src="~/Images/Cinema.jpg" />
                            }
                            else
                            {
                                <img src="@url" class="myWatchedMediaImgSize" border="1" />
                            }

                        </a>
                    }
                </td>
                <td class="siteTheme">
                    @obj.ResultReturn.TvIdResult.name
                </td>
                <td class="siteTheme" style="text-align: center; width:50px;">
                    @{
                        if (!string.IsNullOrEmpty(obj.ResultReturn.TvIdResult.first_air_date))
                        {
                            @Convert.ToDateTime(obj.ResultReturn.TvIdResult.first_air_date).Year.ToString()
                        }
                    }
                </td>
                <td class="siteTheme" style="width:150px;">
                    <span name="tvScore">@obj.ResultReturn.Score</span>
                </td>
                <td class="siteTheme" style="width:200px;">
                    @String.Join(", ", obj.ResultReturn.TvIdResult.genres.Select(x => x.name).ToArray())
                </td>
                <td class="siteTheme" style="text-align: center; width:40px">
                    @obj.WatchedMedia.WatchedQty.ToString()
                </td>
                <td class="siteTheme" style="text-align: center; width:92px;">
                    @obj.WatchedMedia.FirstWatched.ToString()
                </td>
                <td class="siteTheme" style="text-align: center; width:92px;">
                    @obj.WatchedMedia.LastWatched.ToString()
                </td>
            </tr>
        }
    </tbody>
</table>

<p></p>

<partial name="_WatchedMediaTvPaginatePartial" model="Model" />